@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --f-all: "Inconsolata", serif;
}   

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background: url(./assets/images/background-desktop.png) no-repeat;
    background-size: cover;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px 60px;
    row-gap: 60px;
}

/* MAIN LOGO */

.main-logo {
    display: flex;
    align-items: center;
}

/* MAIN ITSELF */

.main-itself {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* MAIN ITSELF HEADER */

.main-itself-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

#fullNameInputText {
    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    color: transparent;
    background-clip: text;
}

#emailAddressText {
    color: hsl(7, 86%, 67%);
}

.main-itself-header-itself {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.main-itself-header-paragraph {
    color: hsl(252, 6%, 83%);
    font-size: 1.5rem;
}

/* MAIN ITSELF FORM CONTAINER */

.main-itself-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAIN ITSELF FORM ITSELF */

.main-itself-form-itself {
    width: 480px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.main-itself-form-itself-inactive {
    display: none;
}

.main-itself-form-itself label {
    color: white;
    font-size: 1.5rem;
}

.main-itself-form-itself-inner {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.main-itself-form-itself-inner-paragraph {
    font-size: 0.8rem;
    color: red;
}

/* MAIN ITSELF FORM ITSELF FILE INPUT */

.main-itself-form-itself-file-input {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: hsla(245, 19%, 35%, 0.4);
    border: 1px dashed white;
    border-radius: 0.5rem;
    position: relative;
}

.main-itself-form-itself-file-input::-webkit-file-upload-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    opacity: 0;
    cursor: pointer;
}

/* MAIN ITSELF FORM ITSELF OTHER INPUTS */

.main-itself-form-itself-input-itself {
    width: 100%;
    height: 50px;
    padding-inline: 15px;
    font-size: 1.2rem;
    border: 1px solid rgba(255,255,255,0.5);
    outline: none;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: hsla(245, 19%, 35%, 0.4);
    color: white;
    border-radius: 0.5rem;
}

.main-itself-form-itself-input-itself::placeholder {
    color: hsl(252, 6%, 83%);
}

/* MAIN ITSELF FORM ITSELF BUTTON ITSELF */

.main-itself-form-itself-button-itself {
    height: 50px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: hsl(7, 88%, 67%);
    border: 0;
    font-weight: 900;
    color: hsl(248, 70%, 10%);
    cursor: pointer;
}

/* 


    MAIN ITSELF FORM SUCCESS


*/

.main-itself-form-success {
    display: none;
    justify-content: center;
}

.main-itself-form-success-active {
    display: flex;
}

/* MAIN ITSELF FORM SUCCESS CARD */

.main-itself-form-success-card {
    width: 600px;
    height: 280px;
    background: url(./assets/images/pattern-ticket.svg);
    display: grid;
    grid-template-columns: 1fr auto;
}

/* MAIN ITSELF FORM SUCCESS CARD LEFT */

.main-itself-form-success-card-left {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MAIN ITSELF FORM SUCCESS CARD LEFT TOP */

.main-itself-form-success-card-left-top-svg {
    width: 250px;
    height: 45px;
}

.main-itself-form-success-card-left-top-paragraph {
    color: hsl(252, 6%, 83%);
    font-weight: 600;
    padding-left: 55px;
}

/* MAIN ITSELF FORM SUCCESS CARD LEFT BOTTOM */

.main-itself-form-success-card-left-bottom {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

/* MAIN ITSELF FORM SUCCESS CARD LEFT BOTTOM PICTURE */

.main-itself-form-success-card-left-bottom-picture {
    width: 70px;
    height: 70px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.main-itself-form-success-card-left-bottom-picture-itself {
    width: 100%;
}

/* MAIN ITSELF FORM SUCCESS CARD LEFT BOTTOM TEXT */

.main-itself-form-success-card-left-bottom-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-itself-form-success-card-left-bottom-text-full-name {
    color: white;
    font-weight: 400;
}

.main-itself-form-success-card-left-bottom-text-inner {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.main-itself-form-success-card-left-bottom-text-inner-svg {
    width: 25px;
    height: 25px;
}

.main-itself-form-success-card-left-bottom-text-inner-text {
    color: white;
    font-weight: 400;
}

/* MAIN ITSELF FORM SUCCESS CARD RIGHT */

.main-itself-form-success-card-right {
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-itself-form-success-card-right-text {
    color: hsl(245, 15%, 58%);
    font-weight: 500;
    transform: rotateZ(90deg);
    font-size: 1.8rem;
}